main{
    height:80em;
}
main>div {
    display :flex;
    align-items: center;
    justify-content: center;
}


main h1{
    padding: 2em 0em ;
}
main>div .half{
    display: flex;
    align-items:center;
    justify-content:flex-start;
    flex-direction: column;
    width: 50%;
}

main>div .half p{
    width:70%;
}

main>div .right{
    position:relative;
    top:8em;
}

main>div .half img{
    height: 30em;
    width: 30em;
    padding: 1em 0;
}


