* {
    margin: 0;
    padding: 0;
}

.h-primary{
    font-size:4em;
    text-align: center;
    font-family: 'open sans',sans-serif;
}

h2{
    text-align: center;
}

.link_btn{
    background-color: rgb(23, 23, 31);
    color:white;
    padding:10px 20px;
    position: relative;
    transition: .2s;
}

.link_btn:hover{
    background-color: rgb(53,53,61);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 10px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

a{
    text-decoration: none;
    color:black;
}

.para{
    font-size: 1.2em;
    font-family: 'lato',sans-serif;
}